@import 'animation';

.rcw-message-preview {
  @include animation(0, 0.5s, slide-in);
  background-color: white;
  box-shadow: 0 7px 6px 1px rgba(0, 0, 0, .16);
  padding: 10px;
  margin-right: 18px;
  position: relative;

  &::after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid hsla(0, 0%, 100%, 0);
    border-left-color: #fff;
    right: -20px;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.rcw-message-preview-close {
  position: absolute;
  top: -2px;
  left: -26px;
  background: #687882;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 4px;
  line-height: 12px;

  &:hover {
    background: #414141;
    cursor: pointer;
  }
}